.vl {
  border-left: 6px solid #9e6735;
  height: 100px;
/*  position: absolute;*/
  left: 12px;
/*  margin-left: -3px;*/
  top: 0;
}
.border{
border: 2px solid #c9ad96; 
    border-radius: 5px;
}
table, th, td {
/*  border: 1px solid black;*/
  border-collapse: collapse;
}
th, td {
/*  padding: 15px;*/
  text-align: left;
}

.rectangle {
  height: 50px;
  width: 100px;
  background-color: #555;
}
.circle:hover
{
        background:#fad5b4;
    color: aliceblue;
}
.button_large:hover
{
        background:#b57f4f;
   
}
.circle{
    height: 140px;
    width: 150px;
    border-radius: 50%;
/*    border:2px solid #d3e5e6;*/
    line-height: 140px;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
   background: #FFF0BD;
/*    animation: myanimation 10s infinite;*/

}
.circle:hover
{
        background:#fad5b4;

}
@keyframes myanimation {
  0% {background-color: #b3f3f7;}
  25%{background-color:yellow;}
  50%{background-color:#98eb98;}
  75%{background-color:#fad5b4;}
  100% {background-color: #c9ef75;}
}
.img{
    cursor:zoom-in;
    cursor:-webkit-zoom-in;
    cursor:-moz-zoom-in;
    width:100px;
}

.how_it_works:hover
{
        background:#f4e5d9;

}

/*sidebar*/
#navbar {
  overflow: hidden;
  background-color: #333;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

#navbar a.active {
  background-color: #4CAF50;
  color: white;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 100;
  width: 100%;
}

.sticky + .content {
  padding-top: 100px;
}